@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.brand{
	font-family: 'Source Sans Pro', sans-serif;
}

.nav{
    background-color: black;
}

.links{
	width: 100%;
	margin: 20;
}



@media(max-width:576px){

	.carousel-caption{
		font-size: 150%;
		text-shadow: 1px 1px 1px 10px #000;
		font-weight: bold;
		top: 30%;
	}
	}
.carousel-caption{
	font-size: 500%;
	font-weight: bold;
	top:40%
}
